{% extends "standard_template.html" %}
{% block extend_css %}
    <link rel="stylesheet" href="../static/css/channel.css">
{% endblock %}
{% block extend_js %}
    <script src="../static/js/laydate.js"></script>
    <script src="../static/js/channel.js"></script>
{% endblock %}

{% block main %}
    <!--频道主区域开始-->
    <div class="row channel_main">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <!--频道导航区域开始-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text left"><a href="/">< 返回首页</a></div>
                </div>
            </div>
            <div class="row nav_main">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 blue_left">
                            <div class="blue_block">蓝色标志</div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 blue_right">
                            <div class="dropdown channel_select">
                              <button class="btn btn-default dropdown-toggle" type="button" id="channel_select_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                               {{ current_channel_name }}
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="channel_select_btn">
                                  {% for channel in channel_list %}
                                    {% if channel.channel_id == current_channel_id %}
                                    {% else %}
                                    <li><a href="/channel_{{ channel.channel_id }}.html">{{ channel.channel_name }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  <!--
                                <li><a href="#">体育</a></li>
                                <li><a href="#">财经</a></li>
                                <li><a href="#">娱乐</a></li>
                                <li><a href="#">时政</a></li>
                                <li><a href="#">学术</a></li>
                                <li><a href="#">动漫</a></li>
                                <li><a href="#">科技</a></li>
                                <li><a href="#">游戏</a></li>
                                <li><a href="#">教育</a></li>
                                -->
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--mini发起投票开始-->
                        <div id="voter_btn_small" class="hidden-lg hidden-md hidden-sm col-xs-10 col-xs-offset-2 vote_btn">
                            <a class="pop_modal">发起投票</a>
                        </div>
                        <!--mini发起投票结束-->
                    </div>
                </div>
                <!--中间导航部分开始-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
                    <div class="my_nav row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="/channel_{{ current_channel_id }}.html?class_id=0">
                            全部
                        </a>

                        {% for x in class_list %}
                            {% if x.class_id == current_class_id %}
                            <a style="border-bottom: 2px solid rgba(78,183,205,1);"  href="/channel_{{ current_channel_id }}.html?class_id={{ x.class_id }}">
                                {{ x.class_name }}
                            </a>
                            {% else %}
                            <a  href="/channel_{{ current_channel_id }}.html?class_id={{ x.class_id }}">
                                {{ x.class_name }}
                            </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <!--
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">美食</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">交通</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">休闲</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">美妆</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">时尚</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">汽车</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">服饰</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">旅游</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">情感</div>
                        <div class="nav_item col-md-2 col-sm-2 col-xs-3">宠物</div>
                        -->
                    </div>

                </div>
                <!--中间导航部分结束-->
                <!--排序部分开始-->
                <div class="dropdown sort_select_area col-lg-2 col-md-2 col-sm-2 hidden-xs">
                  <button class="btn btn-default dropdown-toggle" type="button" id="sort_select_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    热门度
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="sort_area">
                    <li><a class="sort_item" href="/channel_{{ current_channel_id }}.html?class_id={{ current_class_id }}&order_by=hot">热门度</a></li>
                    <li><a class="sort_item"  href="/channel_{{ current_channel_id }}.html?class_id={{ current_class_id }}&order_by=argue">争议性</a></li>
                    <li><a  class="sort_item" href="/channel_{{ current_channel_id }}.html?class_id={{ current_class_id }}&order_by=create_date">发布时间</a></li>
                  </ul>
                </div>
                <!--排序部分结束-->
                <!--发起投票开始-->
                <div id="voter_btn_big" class="col-lg-2 col-md-2 col-sm-2 hidden-xs vote_btn">
                    <a class="pop_modal">发起投票</a>
                </div>
                <!--发起投票结束-->
            </div>
            <!--频道导航区域结束-->
            <!--正文区域开始-->
            {% for topic_info in topic_list %}

            {% if loop.index % 3 == 1 %}
                <!--一行内容开始-->
                <div class="row topic_row">
            {% endif %}
            {% if loop.index % 3 == 1 %}
                <!--左开始-->
                <div data-id="{{ topic_info.top_id }}" data-index="{{ loop.index }}" class="my_item col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="topic col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="../static/image/icon_hot_red.png">
                           <a href="/detail_{{ topic_info.top_id }}.html">{{ topic_info.top_title }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="topic_main col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img class="img_a img" src="{{'../static/image/topic_img_a.png' if topic_info.img_url_a == '' else topic_info.img_url_a }}">
                                </div>
                            </div><div class="row">
                                <div class="point_str col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    A.{{ topic_info.viewpoint_a }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="topic_main col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img class="img_b img" src="{{'../static/image/topic_img_a.png' if topic_info.img_url_b == '' else topic_info.img_url_b }}">
                                </div>
                            </div><div class="row">
                                <div class="point_str col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    B.{{ topic_info.viewpoint_b }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr class="my_sep">
                        </div>
                    </div>
                    <div class="row">
                        <div class="about_data col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="../static/image/icon_message.png">
                            <div class="about_num">
                                {{ topic_info.view_count }}
                            </div>
                            <img src="../static/image/icon_hot.png">
                            <div class="about_num">
                                {{ topic_info.vote_count }}
                            </div>
                            <div class="about_num about_right">
                                争议指数：
                                {% for i in range(topic_info.bomb_count) %}
                                <img src="../static/image/icon_dispute.png">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--左结束-->
            {% endif %}
            {% if loop.index % 3 == 2 %}
                <!--中开始-->
                <div data-id="{{ topic_info.top_id }}" data-index="{{ loop.index }}" class="my_item col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="topic col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="../static/image/icon_hot_red.png">
                           <a href="/detail_{{ topic_info.top_id }}.html">{{ topic_info.top_title }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="topic_main col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img class="img_a img" src="{{'../static/image/topic_img_a.png' if topic_info.img_url_a == '' else topic_info.img_url_a }}">
                                </div>
                            </div><div class="row">
                                <div class="point_str col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    A.{{ topic_info.viewpoint_a }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="topic_main col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img class="img_b img" src="{{'../static/image/topic_img_a.png' if topic_info.img_url_b == '' else topic_info.img_url_b }}">
                                </div>
                            </div><div class="row">
                                <div class="point_str col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    B.{{ topic_info.viewpoint_b }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr class="my_sep">
                        </div>
                    </div>
                    <div class="row">
                        <div class="about_data col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="../static/image/icon_message.png">
                            <div class="about_num">
                                {{ topic_info.view_count }}
                            </div>
                            <img src="../static/image/icon_hot.png">
                            <div class="about_num">
                                {{ topic_info.vote_count }}
                            </div>
                            <div class="about_num about_right">
                                争议指数：
                                <img src="../static/image/icon_dispute.png">
                                <img src="../static/image/icon_dispute.png">
                                <img src="../static/image/icon_dispute.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!--中结束-->
            {% endif %}
            {% if loop.index == (topic_list | length) %}
            <!--一行内容结束-->
            {% endif %}
            {% if loop.index % 3 == 0 %}
                <!--右开始-->
                <div data-id="{{ topic_info.top_id }}" data-index="{{ loop.index }}" class="my_item col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="topic col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="../static/image/icon_hot_red.png">
                           <a href="/detail_{{ topic_info.top_id }}.html">{{ topic_info.top_title }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="topic_main col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img class="img_a img" src="{{'../static/image/topic_img_a.png' if topic_info.img_url_a == '' else topic_info.img_url_a }}">
                                </div>
                            </div><div class="row">
                                <div class="point_str col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    A.{{ topic_info.viewpoint_a }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="topic_main col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img class="img_b img" src="{{'../static/image/topic_img_a.png' if topic_info.img_url_b == '' else topic_info.img_url_b }}">
                                </div>
                            </div><div class="row">
                                <div class="point_str col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    B.{{ topic_info.viewpoint_b }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr class="my_sep">
                        </div>
                    </div>
                    <div class="row">
                        <div class="about_data col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="../static/image/icon_message.png">
                            <div class="about_num">
                                {{ topic_info.view_count }}
                            </div>
                            <img src="../static/image/icon_hot.png">
                            <div class="about_num">
                                {{ topic_info.vote_count }}
                            </div>
                            <div class="about_num about_right">
                                争议指数：
                                <img src="../static/image/icon_dispute.png">
                                <img src="../static/image/icon_dispute.png">
                                <img src="../static/image/icon_dispute.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!--右结束-->
            </div>
            <!--一行内容结束-->
            {% endif %}

            {% endfor %}

            <!--正文区域结束-->
        </div>
    </div>
    <!--频道主区域结束-->

<!--模态框开始-->
<a id="pop_modal" style="display: none" data-toggle="modal" data-target="#myModal">发起投票</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">发起投票</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="topic_title" class="col-sm-2 control-label">
                            标题名<span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-10">
                            <input id="topic_title" type="text" class="form-control" placeholder="最多20个字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_content" class="col-sm-2 control-label">话题描述</label>
                        <div class="col-sm-10">
                            <textarea id="topic_content" class="form-control" id="input_content" placeholder="最多150字"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="big_class" class="col-sm-2 control-label">
                            分类
                            <span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-3">
                            <select id="big_class">
                                <option value="0"></option>
                                {% for channel in channel_list %}
                                <option value="{{ channel.channel_id }}">{{ channel.channel_name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <select id="small_class">
                                <!--
                                <option value="宠物">宠物</option>
                                <option value="美妆">美妆</option>
                                -->
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select_a" class="col-sm-2 control-label">
                            选项1<span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-7">
                            <textarea  class="form-control" id="select_a" placeholder="最多150字"></textarea>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class=" col-sm-2"><a data-ab="a" class="add_img">添加图片</a></div>
                    </div>
                    <div class="form-group">
                        <label for="select_b" class="col-sm-2 control-label">
                            选项2<span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-7">
                            <textarea class="form-control" id="select_b" placeholder="最多150字"></textarea>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class=" col-sm-2"><a data-ab='b' class="add_img">添加图片</a></div>
                    </div>
                    <div class="form-group">
                        <label for="select_b" class="col-sm-2 control-label">投票时间</label>
                        <div class="col-sm-2">
                            <label>
                                <input name="select_range"  id="set_date_range" type="radio"> 开始
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="begin_date"
                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                        </div>
                        <div class="col-sm-2">
                            <label>
                                结束
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="end_date"
                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <label>
                                <input name="select_range" id="set_forever" type="radio"> 永久
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <input type="hidden" id="img_a_url">
                <input type="hidden" id="img_b_url">
                {{ form.hidden_tag() }}
                <button type="button" id="vote_submit_btn" class="btn btn-primary">提交审核</button>
            </div>
        </div>
    </div>
</div>

<!--开始图片上传代码-->
<form id="file_form" style="display: none" enctype="multipart/form-data" method="post" target="exec_target"
      action="/user_upload">
    <input id="my_file" type="file" name="myfile"/>
    <input id="file_select" type="hidden" name="file_select">
    <input type="hidden" id="img_csrf" name="img_csrf">
    <input id="submit_img_button" type="submit" value="提交"/>
</form>
<!--这个iframe是用来接收返回的信息的，-->
<iframe style="display: none" id="exec_target_a" name="exec_target_a"></iframe>
<!--这个iframe是用来接收返回的信息的，-->
<iframe style="display: none" id="exec_target_b" name="exec_target_b"></iframe>
<!--图片上传代码结束-->
<style>
    #begin_date,#end_date{
        width:100%;
    }
    .add_img {
	background-color: rgba(78,183,205,1);
	font-size: 14px;
	padding: 10px 5px;
	display: inline-block;
    }
    .red_alert{
        color:red;
    }
    .form-group select{
    width:100%;
    padding: 5px 10px;
    }
</style>

<!--提交话题的脚本-->
<script src="../static/js/submit_topic.js"></script>

<!--模态框结束-->


{% endblock %}

{% block bottom %}
    <!--瀑布流，不需要底部-->
{% endblock %}