{% extends "standard_template.html" %}
{% block extend_css %}
<link rel="stylesheet" href="../static/css/unslider.css"><!--banner插件js-->
<link rel="stylesheet" href="../static/css/unslider-dots.css"><!--banner插件css-->
<link rel="stylesheet" href="../static/css/index.css"><!--首页css-->
{% endblock %}
{% block extend_js %}
<script src="../static/js/unslider-min.js"></script>
<script src="../static/js/laydate.js"></script>
<script src="../static/js/index.js"></script>
{% endblock %}
{% block main %}
<!--banner的row-->
<div class="row my_banner">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <!--banner插件控制的部分-->
        <div class="my-slider">
            <ul>
                {% for banner in banner_list %}
                <li><img class="img img-responsive" alt="banner.banner_alt" src="{{ banner.banner_url }}"></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--主导航部分-->
<div class="row main_nav">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
            <!--导航栏分上下两行-->
            <div id="my_nav" class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="row nav_line">
                    {% for channel in channel_list %}
                    <div class="my_channel col-lg-1 col-md-2 col-sm-2 col-xs-3">
                        <img src="../static/image/{{ channel.channel_img_url }}">
                        <a href="../channel_{{ channel.channel_id }}.html">{{ channel.channel_name }}</a>
                    </div>
                    {% endfor %}

                    <div class="hidden-lg hidden-md hidden-sm col-xs-3 vote_btn vote_btn_small">
                        <a class="pop_modal">发起投票</a>
                    </div>
                </div>
                <hr class="nav_split_line">
                <div class="row nav_line">
                    <a class="my_channel2 hot_class">商业</a>
                    <a class="my_channel2 hot_class">股票</a>
                    <a class="my_channel2 hot_class">基金</a>
                    <a class="my_channel2 hot_class">银行</a>
                    <a class="my_channel2 hot_class">保险</a>
                    <a class="my_channel2 hot_class">投资</a>
                    <a class="my_channel2 hot_class">第三版</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs vote_btn vote_btn_big">
                <a class="pop_modal">发起投票</a>
            </div>
        </div>
    </div>
</div>
<!--主内容row-->
<div class="main_content row">
    <!--左右主展示区开始-->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
            <!--内容展示区开始-->
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="row">
                    <!--左侧频道单元-->
                    <div class="channel_left col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        {% for k, v in index_dict.items() %}
                        {% if loop.index is odd %}
                        <!--左侧,整体第{{ loop.index }}个频道区域开始-->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--频道单元标题栏-->
                                <div class="row">
                                    <div class="channel_area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div>蓝色标志</div>
                                        <div class="channel_name">{{ channel_dict[k] }}</div>
                                        <div class="channel_more"><a href="/channel_{{ k }}.html">更多 >></a></div>
                                    </div>
                                </div>
                                <hr class="channel_line">
                                <!--6条投票信息开始-->
                                {% for info in v %}
                                <!--投票信息区域-->
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a href="/detail_{{ info.top_id }}.html" class="article_title">{{ info.top_title }}</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">{{ info.view_count }}</div>
                                    </div>
                                </div>
                                <!--投票信息区域结束-->
                                {% endfor %}
                                <!--
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">日方回应右翼酒店事件：中国勿过度关注不幸历史</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">揭秘中央军委联勤保障部队 地铁运新兵高铁送部队</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">上海野生动物园大熊猫“帼帼”母女突发重病死亡</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">特朗普当选月 中国减持美债幅度创近五年最大</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">海派工艺美术正在渐失人气，未来应该如何拯救</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">17210</div>
                                    </div>
                                </div>
                                -->
                                <!--6条投票信息结束-->
                            </div>
                        </div>
                        {% endif %}
                        <!--左侧,整体第{{ loop.index }}频道区域结束-->
                        {% endfor %}
                    </div>
                    <!--左侧内容展示区结束-->
                    <!--右侧频道单元-->
                    <div class="channel_right col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        {% for k, v in index_dict.items() %}
                        {% if loop.index is even %}
                        <!--右侧,整体第{{ loop.index }}个频道区域开始-->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--频道单元标题栏-->
                                <div class="row">
                                    <div class="channel_area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div>蓝色标志</div>
                                        <div class="channel_name">{{ channel_dict[k] }}</div>
                                        <div class="channel_more"><a href="/channel_{{ k }}.html">更多 >></a></div>
                                    </div>
                                </div>
                                <hr class="channel_line">
                                <!--6条投票信息开始-->
                                {% for info in v %}
                                <!--投票信息区域-->
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a href="/detail_{{ info.top_id }}.html" class="article_title">{{ info.top_title }}</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">{{ info.view_count }}</div>
                                    </div>
                                </div>
                                <!--投票信息区域结束-->
                                {% endfor %}
                                <!--
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">日方回应右翼酒店事件：中国勿过度关注不幸历史</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">揭秘中央军委联勤保障部队 地铁运新兵高铁送部队</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">上海野生动物园大熊猫“帼帼”母女突发重病死亡</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">特朗普当选月 中国减持美债幅度创近五年最大</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">7210</div>
                                    </div>
                                </div>
                                <div class="article row">
                                    <div class="article col-lg-10 col-md-10 col-sm-10 col-xs-9">
                                        <a class="article_title">海派工艺美术正在渐失人气，未来应该如何拯救</a>
                                    </div>
                                    <div class="article_count col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <img class="count_icon" src="../static/image/icon_hot.png">
                                        <div class="count_info">17210</div>
                                    </div>
                                </div>
                                -->
                                <!--6条投票信息结束-->
                            </div>
                        </div>
                        {% endif %}
                        <!--右侧,整体第{{ loop.index }}频道区域结束-->
                        {% endfor %}

                    </div>
                    <!--右侧内容展示区结束-->
                </div>
            </div>
            <!--左右主展示区结束-->
            <!--右侧列表区开始-->
            <div class="my_right col-lg-2 col-md-2 col-sm-2 hidden-xs">
                <!--最新投票开始-->
                <div class="row">
                    <div class="my_list col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="list_title">最新投票</div>
                        <div class="list_more"><a>更多 >></a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr class="channel_line">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="my_ul">
                            {% for topic in side_bar_list %}
                            <li class="list_li">
                                <a href="/detail_{{ topic.top_id }}.html">{{ topic.top_title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!--最新投票结束-->

                <!--扫码投票开始-->
                <div class="row">
                    <div class="my_scan col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="../static/image/scan_me.png"> 扫一扫 手机投票还能抽奖！
                    </div>
                </div>
                <div class="row">
                    <div class="my_scan col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img class="img img-responsive" src="../static/image/weixin_pic.png">
                    </div>
                </div>
                <!--扫码投票结束-->
            </div>
            <!--右侧列表区结束-->
        </div>
    </div>
</div>
<!--模态框开始-->
<a id="pop_modal" style="display: none" data-toggle="modal" data-target="#myModal">发起投票</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">发起投票</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="topic_title" class="col-sm-2 control-label">
                            标题名<span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-10">
                            <input id="topic_title" type="text" class="form-control" placeholder="最多20个字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_content" class="col-sm-2 control-label">话题描述</label>
                        <div class="col-sm-10">
                            <textarea id="topic_content" class="form-control" id="input_content" placeholder="最多150字"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="big_class" class="col-sm-2 control-label">
                            分类<span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-3">
                            <select id="big_class">
                                <option value="0"></option>
                                {% for channel in channel_list %}
                                <option value="{{ channel.channel_id }}">{{ channel.channel_name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <select id="small_class">
                                <!--
                                <option value="宠物">宠物</option>
                                <option value="美妆">美妆</option>
                                -->
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select_a" class="col-sm-2 control-label">
                            选项1<span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-7">
                            <textarea  class="form-control" id="select_a" placeholder="最多150字"></textarea>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class=" col-sm-2"><a data-ab="a" class="add_img">添加图片</a></div>
                    </div>
                    <div class="form-group">
                        <label for="select_b" class="col-sm-2 control-label">
                            选项2<span class="glyphicon glyphicon-exclamation-sign red_alert"></span>
                        </label>
                        <div class="col-sm-7">
                            <textarea class="form-control" id="select_b" placeholder="最多150字"></textarea>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class=" col-sm-2"><a data-ab='b' class="add_img">添加图片</a></div>
                    </div>
                    <div class="form-group">
                        <label for="select_b" class="col-sm-2 control-label">投票时间</label>
                        <div class="col-sm-2">
                            <label>
                                <input name="select_range"  id="set_date_range" type="radio"> 开始
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="begin_date"
                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                        </div>
                        <div class="col-sm-2">
                            <label>
                                结束
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="end_date"
                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <label>
                                <input name="select_range"  id="set_forever" type="radio"> 永久
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <input type="hidden" id="img_a_url">
                <input type="hidden" id="img_b_url">
                {{ form.hidden_tag() }}
                <button type="button" id="vote_submit_btn" class="btn btn-primary">提交审核</button>
            </div>
        </div>
    </div>
</div>

<!--开始图片上传代码-->
<form id="file_form" style="display: none" enctype="multipart/form-data" method="post" target="exec_target"
      action="/user_upload">
    <input id="my_file" type="file" name="myfile"/>
    <input id="file_select" type="hidden" name="file_select">
    <input type="hidden" id="img_csrf" name="img_csrf">
    <input id="submit_img_button" type="submit" value="提交"/>
</form>
<!--这个iframe是用来接收返回的信息的，-->
<iframe style="display: none" id="exec_target_a" name="exec_target_a"></iframe>
<!--这个iframe是用来接收返回的信息的，-->
<iframe style="display: none" id="exec_target_b" name="exec_target_b"></iframe>
<!--图片上传代码结束-->
<style>
    #begin_date,#end_date{
        width:100%;
    }
    .add_img {
	background-color: rgba(78,183,205,1);
	font-size: 14px;
	padding: 10px 5px;
	display: inline-block;
    }
    .red_alert{
        color:red;
    }
    .form-group select{
    width:100%;
    padding: 5px 10px;
    }
</style>
<!--提交话题的脚本-->
<script src="../static/js/submit_topic.js"></script>

<!--模态框结束-->
{% endblock %}