<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <!--移动页面优化：页面宽度=设备宽度，初始化缩放为1，最大缩放1，禁用放大-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/common.js"></script>
    <!--顶部搜索框脚本-->
    {% block top_search_script %}
        <link rel="stylesheet" href="../static/css/top_search.css">
        <script src="../static/js/top_search.js"></script>
    {% endblock %}
    <!-- 页面专属css脚本-->
    {% block extend_css %}
        <!--
        <link rel="stylesheet" href="../static/css/unslider.css">
        <link rel="stylesheet" href="../static/css/unslider-dots.css">
        <link rel="stylesheet" href="../static/css/index.css">
        -->
    {% endblock %}
    <!--页面专属js脚本-->
    {% block extend_js %}
        <!--
        <script src="../static/js/unslider-min.js"></script>
        <script src="../static/js/index.js"></script>
        -->
    {% endblock %}
    <!-- 页面标题-->
    <title>{{ page_title }}</title>
</head>
<body>
<div class="container-fluid">
    {% block top_search_dom %}
    <!--顶部搜索栏，logo，登录注册-->
    <div class="row top_search_row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                    <img id="logo" class="img to_index" src="../static/image/logo.png">
                </div>
                {% block custom_search_width %}
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
                {% endblock %}
                    <!--搜索框-->
                    <div class="col-lg-9 col-lg-offset-2 col-md-9 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="input-group my_search_form">
                                    <input id="my_search_word" type="text" class="form-control my_nav_round" placeholder="春晚投票">
                                <span class="input-group-btn">
                                    <button id="my_search_btn" class="btn btn-default my_nav_round" type="button">搜索</button>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row key_words_area">
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <a class="key_words">美国大选</a>
                                        <a class="key_words">搜索引擎</a>
                                        <a class="key_words">计划生育</a>
                                        <a class="key_words">美国大选</a>
                                        <a class="key_words">凤姐全捐了</a>
                                        <a class="key_words">番茄哥</a>
                                    </div>
                                    <!--
                                    <div  class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <a id="keys_more_btn">更多 >></a>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% block login_zone %}
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span style="display: none" id="login_flag" >{{ login_flag }}</span>
                    {% if not login_flag %}
                    <div class="row">
                        <!--
                        <button id="login_btn" class=" btn col-lg-6 col-md-6 col-sm-6 col-xs-6">登录</button>
                        -->
                        <div style="white-space: nowrap;overflow: hidden;text-align:center" class="reg_tips_area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="/login" id="reg_btn" class=" btn btn-primary">登录</a>
                        </div>
                    </div>

                    <div class="row">
                        <div  class="reg_tips_area col-lg-12 col-md-12 col-sm-12 hidden-xs">
                         <div id="reg_tips" class="row text-center">
                             <div style="white-space: nowrap;overflow: hidden;text-align:center;margin-top:0.5em" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a id="reg_gift" href="/register" class="">注册</a>
                             </div>
                         </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="row">
                            <div  class="login_area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div>
                                    <img class="img img-circle" id="login_user_pic" src="{{ user_img_url }}">
                                </div>
                                <div id="user_level" >
                                LV {{ user_level }}
                                </div>
                                <div id="login_out">
                                <a href="/login_out">注销</a>
                            </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <!--顶部搜索栏结束-->
    {% endblock %}
    <!--正文区-->
    {% block main %}
    {% endblock %}
    <!--正文区结束-->
    <!--底部开始-->
    {% block bottom %}
    <!--底部代码开始-->
    <div class="my_bottom row">
        <div class="my_bottom_middle col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 hidden-xs">
            <div class="row">
                <!--左侧-->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="bottom_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            联系方式
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 电话： 021-55668845
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 地址： 上海市杨浦区xxx路xx创业园x楼x幢808室
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 企业邮箱： welcome@zvoter.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                           * 在线QQ： 456784236   47235462
                        </div>
                    </div>
                </div>
                <!--左侧结束-->
                <!--中间-->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="bottom_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           关于我们
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 企业文化
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 公司宗旨
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 我们的最终目标
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                           * 加入我们
                        </div>
                    </div>
                </div>
                <!--中间结束-->
                <!--右侧-->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="bottom_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           版权信息
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 版权所有   上海市 xxx公司
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * 工商备案许可证
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                            * ICP备案信息  沪备字 2453541-1
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_text col-lg-8 col-lg-offset-4 col-md-8 col-lg-offset-4 col-sm-12 col-xs-12">
                           * 版权所有，侵权必究
                        </div>
                    </div>
                </div>
                <!--右侧结束-->
            </div>
        </div>
    </div>
    <!--底部代码结束-->
    {% endblock %}
    <!--底部结束-->
</div><!--end container-fluid-->
</body>
</html>