.my_path div{
    font-size:12px;
    display:inline-block;
}
.my_path>div:first-child{
    font-size:14px;
    font-weight: bold;
    margin-right:30px;
}
.my_path{
    margin-top: 20px;
    margin-bottom:12px;
}
.my_path img{
    vertical-align: inherit;
    margin-right:8px;
}
.my_title{
    text-align: left;
    margin-top: 12px;
    margin-bottom:8px;
}
.my_title div{
    display: inline-block;
}
.blue_block{
    width:0.5em;
    line-height: 2em;
    border-radius: 2px;
    background-color:rgba(78,183,205,1);
    text-indent: -9999em;
    margin-right:0.5em;
    height:2.0em;
}
.title_str{
    font-size:18px;
    font-weight:bold;
}
.about_num{
    font-size:10px;
}
.margin_left_30{
    margin-left:30px;
}
.extend_info{
    margin-top: 10px;
    margin-bottom:10px;
}
.extend_info div{
    display: inline-block;
    color:rgba(159,167,183,1);
    margin-right: 2em
}
.extend_info>div:first-child{
    /*margin-right: 4em;*/
}
.margin_left_20{
    margin-right: 2em;
}
.my_content{
    word-break: break-all;
    line-height:2em;
    text-indent: 2em;
    margin-top:2em;
    margin-bottom: 2em;
}
.voter_title_blue{
    color:rgba(78, 183, 205, 1);
    font-size: 14px;
}
.voter_title_blue,.voter_title_red{
    font-weight: 600;
    text-align: center;
}
#vote_author{
    color:rgba(78, 183, 205, 1);
}
.voter_title_red{
    color:rgba(255, 107, 107, 1);
    font-size: 14px;
}
.a_b{
    margin-top:1em;
    margin-bottom: 1em;
}
.a_b img{
    /*width:100%;*/
    /*height:100%;*/
}
.ab .voter{
    color:rgba(255, 107, 107, 1);
    border-color:rgba(255, 107, 107, 1);
    background-color:rgba(255, 107, 107, 1);
}
.ab .voter:first-child{
    color:rgba(78, 183, 205, 1);
    border-color:rgba(78, 183, 205, 1);
    background-color:rgba(78, 183, 205, 1);
}
.voter .point_img{
    /*border:1px solid rgba(255, 107, 107, 1);*/
    border-radius: 2px 2px 0px 0px;
    width:100%;
}
.img_b, .img_a{
    /*border:1px solid rgba(78, 183, 205, 1);*/
    /*width:10rem;*/
}
.voter_btn{
    font-size:16px;
    line-height:2.8em;
    background-color:rgba(255, 107, 107, 1);
    box-shadow: none;
    border:none;
    color:white;
    border-radius: 0px 0px 2px 2px;
    width:100%;
}
.btn_a{
    background-color:rgba(78, 183, 205, 1);
}

/*对比条*/
.voter_per_str{
    color:rgba(159,167,183,1);
    font-size:12px;
    text-align: left;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:-15px;
}
.wide_line{
    display: inline-block;
    color:white;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    line-height:2em;
}
.blue_line{
    background: url("/static/image/blue_line.png") ;
    width:50%;
    height:2em;
    border-radius: 4px 0em 0em 4px;
    /*margin-left:-15px;*/
    margin-right:-3px;
}
.red_line{
    background: url("/static/image/red_line.png") ;
    width:50%;
    height:2em;
    border-radius: 0px 4px 4px 0px;
    margin-right:-15px;
    margin-left:-3px;
}
.voter_count_str{
    color:rgba(159,167,183,1);
    font-size:12px;
    text-align: left;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
.my_progress_bar{
    margin-bottom:1em;
}
.float_right{
    float:right;
    color:rgba(78, 183, 205, 1);
    font-size:14px;
}
#jump_edit_area:hover{
    cursor:pointer;
}
/*切换按钮*/
.change_tips{
    width:50%;
    text-align: center;
}
/*评论区*/
.tips_top{
    margin-top:10px;
}
.tips_top_blue{
    background: url("/static/image/top_blue.png") no-repeat;
    line-height: 2.0em;
    text-align: center;
    background-size:100% 100%;
    background-origin:content-box;
    color:white;
}
.tips_top_red{
    background: url("/static/image/top_red.png") no-repeat;
    line-height: 2.0em;
    text-align: center;
    background-size:100% 100%;
    background-origin:content-box;
    color:white;
}
.receive_line1{
    margin-top:20px;
    margin-bottom:20px;
}
.receive_line1>div{
    display: inline-block;
    font-size:12px;
    margin-left:14px;
    margin-right:14px;
}
.grey_sep{
    width:0.1em;
    line-height: 2em;
    border-radius: 2px;
    background-color:rgba(159,167,183,1);
    text-indent: -9999em;
    height:2.0em;
}
.receive_line_content{
    margin-bottom:10px;
}
.receive_line_pic{
    text-indent: -9999em;
    background: url("/static/image/guest.png") no-repeat;
    line-height: 2.0em;
    width:2em;
    text-align: center;
    background-size:100% 100%;
    background-origin:border-box;
    color:white;
    margin-left:15px;
}
.receive_line_content{
    font-size:14px;
    padding-right:0px;
}
.nickname{
    color:rgba(255, 107, 107, 1);
}
.content_str{
    word-break:break-all;
}
.line_short{
    line-height:1em;
    height:1em;
}
.receive_line_content_last div{
    display:inline-block;
}
.report_btn,.receive_btn,.up_count,.down_count,.float_right .glyphicon{
    color:rgba(90, 99, 120, 1);
    font-size:12px;
}
.receive_line_date{
    color:rgba(159,167,183,1);
    float:left;
    font-size:10px;
}
.receive_line_content_last{
    margin-bottom:10px;
    line-height: 14px;
}
.row_sep{
    border-top:1px solid rgba(159,167,183,1);
    margin: 5px 0px 10px 0px;
}
.show_more{
    color:rgba(78,183,205,1);
}
#my_message,#submit_btn{
    height:52px;
    border:1px solid rgba(78,183,205,1);
    margin: 5px 0px 24px;
    font-size:14px;
    color:rgba(159,167,183,1);
    line-height:52px;
}
#submit_btn{
    font-size: 18px;
    color:white;
    background-color: rgba(78,183,205,1);
    text-align: center;
    word-break: break-all;
    white-space: nowrap;
    cursor: pointer;
}
/*主导航部分*/
@media screen and (max-width: 768px){
    .my_message{
        padding-right: 0px;
    }
    .message_area{
        margin-right:0px;
    }
    #submit_btn{
        font-size: 14px;
    }
}
#my_message{
    width:100%;
    line-height: 14px;
}
.list_li{
    font-size:12px;
    padding-bottom:1em;
}
.my_ul li{
    color:rgba(66,72,87,1);
}
.margin_top_60{
    margin-top: 60px;
}
.main_content{
    padding-bottom:20px;
}
.my_list>div{
    display: inline-block;
}
.list_title{
    font-size:14px;
}
.list_more{
    float: right;
    padding-right:4em;
}
.list_more>a{
    font-size:10px;
    color: rgba(78, 183, 205, 1);
}
.channel_line{
    border-top:1px solid lightgray;
}
.my_scan{
    padding-left:30px;
}
/*调整小视窗下二维码位置*/
@media screen and (max-width: 992px){
    .my_scan{
        padding-left:15px;
        text-align: center;
    }
    .my_scan>img{
        margin:auto;
    }
    .margin_top_60{
        margin-top:30px;
    }
}
#tips_zone{
    padding-left:2rem;
    text-align: left;
    font-size:12px;
}
