.topic_main{
    padding-top:10px;
    padding-bottom:10px;
}
.topic{
    font-size:14px;
}
.img_a,.img_b{
    width:100%;
    height:100%;
}
.topic>img:first-child{
    vertical-align: inherit;
}
.point_str{
    font-size:12px;
}
.my_sep{
    border-color:rgba(159,167,183,1);
    margin: 5px 0px;
}
.about_data{
    text-align: left;
}
.about_num{
    display:inline-block;
    font-size:9px;
}
.about_right{
    float:right;
    font-size:10px;
}
.topic_row{
    padding-bottom:35px;
}
.receive_line1{
    margin-top:10px;
    margin-bottom:10px;
}
.receive_line1>div{
    display: inline-block;
    font-size:14px;
    margin-left:14px;
    margin-right:14px;
}
.receive_line1 .item:hover{
    cursor:pointer;
}
.grey_sep{
    width:1px;
    line-height: 1.5em;
    background-color:rgba(159,167,183,1);
    text-indent: -9999em;
    height:1.5em;
}
.receive_line_content{
    margin-bottom:10px;
}
.row_sep{
    border-top:1px solid rgba(159,167,183,1);
    margin: 5px 0px 20px 0px;
}
.navbar-header>.navbar-brand{
    font-weight: 600;
    color: rgba(78, 183, 205, 1);
}
.receive_line1>.active{
    color: rgba(78, 183, 205, 1);
}
.left_area{
    margin-top:10px;
}
#user_level{
    text-align: center;
    color: rgba(78, 183, 205, 1);
}
.base_info{
    font-size:14px;
    line-height:2em;
}
.base_info .col-lg-12>div{
    display: inline-block;
    margin-top:4px;
    margin-bottom:4px;
}
.base_info .base_info_label{
    color:rgba(159,167,183,1);
    margin-right:5px;
}
.list_li{
    font-size:12px;
    padding-bottom:1em;
}
.my_list>div{
    display: inline-block;
}
.list_title{
    font-size:14px;
}
.list_more{
    float: right;
    padding-right:4em;
}
.list_more>a{
    font-size:10px;
    color: rgba(78, 183, 205, 1);
}
/*user_center_info.css*/
#change_portrait{
    background-color: rgba(78,183,205,1);
    font-size:14px;
    padding:10px 5px;
    display: block;
    text-align: center;
}
#user_img{
    width: 8em;
    height:8em;
    margin-bottom:0.8em;
    border-radius: 5px;
}
#info_form{
    padding:30px;
}
#info_form h4{
    color: rgba(78, 183, 205, 1);
    text-align: center;
    letter-spacing:1em;/*字间距*/
    margin-bottom:30px;
}
#info_form>.row{
    margin-top:10px;
    margin-bottom:20px;
}
#user_sex{
    margin-left:4em;
}
#user_sex>label{
    margin-right:1em;
}
#info_form .input-group-btn>button:first-child{
    /*width:9em;*/
    /*text-align: right;*/
}
.my_select{
    border-radius: 0px;
}
.my_select:first-child{
    border-right:none;
}
.select_zone>li:hover{
    cursor: pointer;
    color: rgba(78, 183, 205, 1);
}
#sign_select_ul>li:hover{
    cursor: pointer;
    color: rgba(78, 183, 205, 1);
}
.submit_col{
    text-align: center;
    margin-top:10px;
}
/*调整小视窗下二维码位置*/
@media screen and (max-width: 768px){
    #info_form h4{
        margin-bottom: 0em;
        margin-top:1em;
    }
    #info_form,#info_form>.row:first-child{
        margin-top:0px;
        padding-top:0px;
    }
    .main_content>.navbar{
        margin-bottom: 0em;
    }
}

/* user_center_notification.css */
.message{
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #d0e9c6;
    border-radius: 3px;
}

.message .detail_unread{
    font-weight: bold;;
}

.message .detail_read{
    font-weight: normal;
}

.message .date{
    color: #adadad;
    font-size: 15px;
    text-align: right;
}

.message .mark_as_read{
    text-align: right;
    cursor: pointer;
    color: #2a6496;
    font-weight: bold;
}

.notification_info{
    display: none;
}