
#get_sms_code_btn {
    background: url("/static/image/code.png") no-repeat;
    text-align: center;
    background-size: 100% 100%;
    background-origin: padding-box;
    color: white;
    text-indent: -9999em;
}
#img_code{
    border:1px solid lightgray;
}
#img_code:hover{
    cursor: pointer;
}